GDK_ENV=production
POSTGRES_DB=grantdeck
POSTGRES_USER=grantdeck
POSTGRES_STORAGE=1Gi
GDK_ALLOWED_HOSTS=lumis-api.bht-berlin.de
GDK_CSRF_TRUSTED_ORIGINS=https://lumis-api.bht-berlin.de
GDK_OIDC_ENDPOINT=https://issuer.example.com
GDK_OIDC_CLIENT_ID=replace-with-client-id
GDK_OIDC_ADMIN_USERNAME=replace-with-oidc-username
GDK_BRAND_NAME=GrantDeck
GDK_SSO_LOGIN_BUTTON_TEXT=Login with SSO
GDK_STATIC_TOKEN_MAX_LIFETIME_DAYS=183
GDK_PROJECT_JOIN_ATTEMPT_LIMIT=5
GDK_PROJECT_JOIN_ATTEMPT_WINDOW_SECONDS=600
GDK_SESSION_COOKIE_SECURE=true
GDK_CSRF_COOKIE_SECURE=true
GDK_CSRF_COOKIE_HTTPONLY=true
GDK_LOG_LEVEL=DEBUG
GDK_SCRIPT_NAME=/grantdeck
ROUTE_HOST=lumis-api.bht-berlin.de
ROUTE_PREFIX=/grantdeck
GATEWAY_NAME=default
GATEWAY_NAMESPACE=envoy
GATEWAY_SECTION=https-lumis-api
GDK_AIGATEWAY_GATEWAY_NAME=default
GDK_AIGATEWAY_GATEWAY_NAMESPACE=envoy
GDK_AIGATEWAY_GATEWAY_SECTION=https-default-api
GDK_AIGATEWAY_GATEWAY_INTERNAL_SECTION=http-envoy-internal
GDK_AIGATEWAY_MODELS_OWNER=bht
GDK_AIGATEWAY_MODEL_BACKENDS={"bht/large":{"name":"a100-openai"},"bht/medium":{"group":"inference.networking.k8s.io","kind":"InferencePool","name":"vllm-completion-gemma4"},"bht/small":{"name":"v100-openai"},"mistralai/Mistral-Medium-3.5-128B":{"name":"fau-openai"},"gpt-5.4-nano":{"name":"azure-openai"}}
K8S_NAMESPACE=grantdeck
IMAGE=ghcr.io/troeger/grantdeck:latest
